* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.App {
  font-family: 'Poppins';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #282c34;
  background: linear-gradient(180deg, rgba(233, 208, 208, 9) 20%, rgba(159,64,20,2) 100%);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.exercise-label {
  font-size: 16px;
}



.App-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.App-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
}

.footer-button {
  background-color: #afb0b3;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins';
}

.footer-button:hover {
  background-color: #444;
}


.arrow-button{
  background-color: transparent;
}