* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.home{
  width: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.hometext{
  width: 1080px;

}

.main-title {
  font-size: 3em;
  color: #9F4014;
  text-align: center;
}

.titulo_ej {
  font-size: 2.7em;
  color: #9F4014;
  text-align: center;
  margin-left: 50%;
}

.main-title.ej {
  font-size: 3em;
  color: #9F4014;
  text-align: center;
  
}


.sombra-1 {box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.5);}
.sombra-2{ box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.8), 0 1px 2px -1px rgb(0 0 0 / 0.8);}
.sombra-3{ box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.8), 0 2px 4px -2px rgb(0 0 0 / 0.8);}
.sombra-4{ box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.8), 0 4px 6px -4px rgb(0 0 0 / 0.8);}

.App {
  font-family: 'Poppins';
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: #282c34;
  background: linear-gradient(180deg, rgba(233, 208, 208, 9) 20%, rgba(159,64,20,2) 100%);
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.exercise-label {
  font-size: 16px;
}


.footer-section {
  width: 50%;
  text-align:center;
}

.guardar-button{
  margin-top: -8000px;
  margin-left: -330px;
}



.footer-button {
  background-color: rgba(255,255,255, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins';
  padding: 16px 55px;
    font-size: 2em;
    border-radius: 10px;
    font-weight: bold;

}


.footer-button:hover {
  background-color: rgba(255,255,255, 0.2);
}


.arrow-button{
  background-color: transparent;
}


.modal-content {
  margin-top: 12px;
  border-radius: 10px;
  background-color: rgba(255,255,255, 0.4);
  padding: 19px 10px; 
}


.informacion-container {
  position: absolute;
  top: 45%;
  align-items: flex-end; 
  margin-right: 20px;
  text-align: right;
  right: 250px;
  
    margin-bottom: 250px;

  
}

.guardar-button {
  background-color: rgba(255, 255, 255, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 50px;
  cursor: pointer;
  font-family: 'Poppins';
  padding: 25px 55px;
  font-size: 1.5em;
  border-radius: 10px;
  font-weight: bold;
  position: relative;
  margin-bottom: 20px;
  margin-right: -54px;
}

.guardar-button:hover {
  background-color: rgba(255, 255, 255, 0.2);

}

.App-content {
  flex-grow:1;
}
main.App-content > div {
  height: 100%;
  width: 100%;
} 


/*********EJERCICIO*************/
.ejercicio-footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px;
  bottom: 0;
  position: absolute;
}


#ejercicio {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

/*********EJERCICIO LISTA*************/
#ejerciciolista {
  text-align: center;
}

.ejercicio-listado-item {
  background-color: #FFFFFF;
  margin: 1em 3em;
  padding: 1em 0;

  border-radius: 50px;
  font-size: 1em;
  font-weight: bold;
  color: #000;
}

.ejercicio-button{
    background-color: rgba(255,255,255, 0.4);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Poppins';
    padding: 16px 55px;
      font-size: 2em;
      border-radius: 10px;
      font-weight: bold;
}

.lista-button{
  margin-bottom: 20px;
  background-color: rgba(255,255,255, 0.4);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  font-family: 'Poppins';
  padding: 16px 55px;
    font-size: 2em;
    border-radius: 10px;
    font-weight: bold;
}